body {
  background-color: #7D6167;
  color: orange;
}

h1 {
  color: #F9E0D9;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.card {
  background-color: #E6DBD0;
}

input {
  margin-bottom: 15px;
}

#submitButton,
.deleteButton,
.markAsUnavailableButton,
.markAsAvailableButton {
  background-color: #5D4954;
  color: #F9E0D9;
  border: #5D4954;
}

thead, tbody {
  color: #5D4954;
}



